*{

    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}
@import url('https://fonts.googleapis.com/css2? família = Montserrat: ital, wght @ 0,100; 0,200; 0,900; 1,100 & display = swap');
header{

    display: flex;
    height: 100%;
    justify-content: center;
    background-color: #F6F6F7;

}
#menu-mobile{

    display: none;

}
#img-auto-link{

    display: flex;
    align-self: center;

}
#img-auto-link img{

    width: 100%;

}
.conteiner-menu{

    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;

}
.linksmenu{

    display: flex;
    font-size: max(18px, 1.3vw);
    text-decoration: none;
    color: #1C1C1D;
    margin: 3%;
    border-bottom: 3px solid #F6F6F7;

}
.linksmenu:hover{

    color: #10DFC2;
    border-bottom: 3px solid #10DFC2;
    transition: 0.9s;

}
button{

    display: flex;
    height: 4vh;
    width: 12%;
    font-size: max(18px, 1.3vw);
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 15vw;;
    color: #FBFBFB;
    border: 1px solid #10DFC2;
    background-color: #10DFC2;
    margin: 0% 3%;
    cursor: pointer;

}
#background{

    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 1%;

}
.conteiner-um{

    display: flex;
    justify-content: center;

}
.bloco-um{

    width: 30%;
    align-self: center;
    flex-direction: column;
    margin: 1%;

}
.bloco-um h1{

    font-size: max(40px, 3vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.bloco-um p{

    font-size: max(18px, 1.2vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.bloco-dois{

    width: 30%;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin: 1%;

}
.box-img{
        
    padding: 3%;
    width: 30%;

}
.box-img2{

    width: 50%;

}
#background1{

    background-color: #FFFFFF;
    height: 100%;
    padding: 1%;

}
.conteiner-dois{

    display: flex;
    justify-content: center;

}
.bloco-tres{

    width: 30%;
    align-self: center;
    padding: 1%;
    flex-wrap: wrap;

}
.bloco-tres h2{

    font-size: max(40px, 3vw);
    color: #032624;
    padding: 2% 0%;

}
.bloco-tres p{

    font-size: max(18px, 1.2vw);
    color: #032624;
    padding: 2% 0%;

}
span{

    font-size: max(18px, 1vw);
    color: #10DFC2;

}
.box-img3{

    width: 50%;

}
.bloco-quatro{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;

}
#background2{

    background-color: #F6F6F6;
    height: 100%;
    padding: 1%;

}
.conteiner-tres{

    display: flex;
    justify-content: center;

}
.box-center{

    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.alinhamento{

    text-align: center;

}
.box-center h2{

    display: flex;
    font-size: max(40px, 3vw);
    color: #0EAFAC;
    padding: 2% 0%;
    align-items: center;
    justify-content: center;  

}
.box-center p{

    font-size: max(18px, 1vw);
    color: #032624;
    padding: 2% 0%;
    flex-wrap: wrap;
    word-break: break-word;
    align-items: center;

}
.block-pai{

    display: flex;
    padding: 2% 0%;

}
.block{

    width: 300px;
    height: 300px;
    margin: 1% 1%;
    padding: 1.5%;
    box-shadow: 0px 0px 10px 2px #555;

}
#background3{

    background-color: #FFFFFF;
    height: 100%;
    padding: 1%;

}
.conteiner-quatro{

    display: flex;
    justify-content: center;

}
.bloco-seis{

    width: 30%;
    margin: 1%;

}
.bloco-seis h2{

    font-size: max(40px, 3vw);
    color: #0EAFAC;
    padding: 2% 0%;

}
.bloco-seis li{

    font-size: max(18px, 1vw);
    color: #032624;
    padding: 1% 0%;

}
.bloco-seis h3{

    padding: 2% 0%;

}
.bloco-cinco{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;


}
#background4{

    background-color: #19DBD1;
    height: 100%;
    padding: 1%;

}
.conteiner-cinco{

    display: flex;
    justify-content: center;
    align-items: center;

}
.bloco-sete{

    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 1%;
    align-items: center;

}
.bloco-sete h2{

    font-size: max(40px, 2vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.bloco-sete p{

    font-size: max(18px, 1vw);
    color: #FFFFFF;
    padding: 1% 0%;

}
.bloco-oito{

    display: flex;
    width: 30%;
    flex-direction: column;
    margin: 1%;
    flex-wrap: wrap;
    align-content: center;

}
.bloco-oito label{

    padding: 1% 0%;
    color: #FFFFFF;

}
input{

    display: block;
    margin: 1% 0%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
    height: 20px;
    width: 350px;

}
.bloco-oito button{

    display: flex;
    height: 40px;
    width: 100px;
    font-size: 18px;
    justify-content: center;
    border-radius: 10px;
    color: #FBFBFB;
    border: 1px solid #FFB900;
    background-color: #FFB900;

}
#background5{

    background-color: #04254C;
    height: 100%;
    padding: 1%;

}
.conteiner-seis{

    display: flex;
    align-items: center;

}
.bloco-nove{

    display: block;
    width: 30%;
    margin: 1%;

}
.imagem-logo{

    width: 35%;

}
.bloco-nove h4{

    font-size: max(28px, 2vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.bloco-nove p{

    font-size: max(18px, 1vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.bloco-nove button{

    display: flex;
    width: 180px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #FFB900;
    background-color: #FFB900;

}
button img{

    display: flex;
    padding-left: 8%;

}
.bloco-dez{

    display: flex;
    justify-content: center;

}
.bloco-dez li{

    font-size: max(16px, 1.0vw);
    color: #FFFFFF;
    padding: 5% 0%;
    list-style: none;

}
.tamanho-img-endereço{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    padding-right: 12px;

}
.img-endereço{

    display: flex;
    align-items: center;
    padding: 10%;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;

}
.bloco-onze{

    display: block;

} 
.bloco-onze h4{

    font-size: max(22px, 1.2vw);
    color: #FFFFFF;
    padding: 2% 0%;

}
.text-endereço{

    display: block;

}
.conteiner-endereços{

    display: flex;
    margin: 1%;

}
@media (max-width: 900px){
    .conteiner-menu{
    
        width: 40%;
        height: 55px;
    
    }
    #img-auto-link img{

        width: 60%;

    }
    .linksmenu{

        font-size: max(16px, 1.0vw);
    
    }
    button{
    
        width: 15%;
        font-size: max(16px, 1.0vw);
    
    }
    .bloco-um{

        width: 50%;

    }
    .bloco-um h1{
    
        font-size: max(30px, 2.5vw);
    
    }
    .bloco-um p{
    
        font-size: max(16px, 1.0vw);
    
    }
    .bloco-dois{
    
        width: 35%;
    
    }
    .box-img{
            
        padding: 3%;
        width: 35%;
    
    }
    .box-img2{
    
        width: 80%;
    
    }
    .bloco-tres{
    
        margin-right: 3%;
        width: 50%;
    
    }
    .bloco-tres h2{
    
        font-size: max(30px, 2.5vw);
    
    }
    .bloco-tres p{
    
        font-size: max(16px, 1.0vw);
    
    }
    span{
    
        font-size: max(16px, 1.0vw);
    
    }
    .box-img3{

        width:100%

    }
    .bloco-quatro{

        align-items: center;
    
    }
    .box-center h2{

        font-size: max(32px, 2.5vw);
    
    }
    .box-center p{
    
        font-size: max(16px, 1.0vw);
    
    }
    .alinhamento{

        display: flex;
        width: 80%;
        justify-content: center;

    }
    .block{ 

        width: 250px;
        height: 250px;
        margin: 2.5%;

    }
    .bloco-seis h2{
    
        font-size: max(32px, 2.5vw);

    }
    .bloco-seis li{
    
        font-size: max(16px, 1.0vw);

    }
    .bloco-seis h3{

        font-size: max(16px, 1.0vw);
    
    }
    .bloco-cinco{
    
        padding: 0% 5%
    
    }
    .conteiner-cinco{

        flex-direction: column;
        flex-wrap: wrap;
    
    }
    .bloco-sete{

        width: 100%;

    }
    .bloco-sete h2{
    
        font-size: max(30px, 2.5vw);
        text-align: center;
    
    }
    .bloco-sete p{
    
        font-size: max(16px, 1.0vw);
        text-align: center;
    
    }
    .bloco-oito{
    
        align-items: center;
    
    }
    .bloco-oito label{

        text-align: center;
    
    }
    .bloco-nove h4{
    
        font-size: max(20px, 1.2vw);
    
    }
    .bloco-nove p{
    
        font-size: max(15px, 1vw);
    
    }
    .bloco-nove button{
    
        font-size: max(15px, 1vw);
    
    }
    .bloco-dez li{
    
        font-size: max(12px, 1.0vw);
    
    }
    .tamanho-img-endereço{
    
        justify-content: start;
        width: 15vw;
    
    }
    .bloco-onze{
    
        display: block;
    
    } 
    .bloco-onze h4{
    
        font-size: max(20px, 1.2vw);
 
    }

}
@media (max-width: 550px){

    header{

        display: none;
    
    }
    #menu-mobile{

        display: block;
        height: 50px;
        width: 100%;
        background-color: #F6F6F7;

    }
    .links-menu{

        display: block;
        text-decoration: none;
        color: #1C1C1D;
        padding: 20px 5px;
        font-size: max(12px, 1.0vw);

    }
    .links-menu:hover{

        background-color: #04254C;
        color: #F6F6F7;
        font-size: max(20px, 1vw);
        transition: 0.9s;

    }
    #menu-mobile ul{

        position: absolute;
        list-style: none;
        top: 50px;
        width: 100%;

    }
    #menu-mobile img{

        width: 25px;

    }
    #menu-mobile input[type="checkbox"]{

        display: none;

    }
    #menu-mobile input[type="checkbox"]:checked ~ nav{

        transform: translateX(280px);

    }
    #menu-mobile nav{

        position: absolute;
        background-color: #F6F6F6;
        height: 30%;
        width: 280px;
        left: -280px;

    }
    #menu-mobile label{

        padding: 11px;
        position: absolute;
        z-index: 1;

    }
    #img-auto{

        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;

    }
    #img-auto img{

        display: flex;
        width: 60%;
        margin: 0 auto;

    }
    .bloco-um{

        width: 80%;
        align-items: center;
        margin-left: 5%;

    }
    .bloco-um img{

        display: none;

    }
    .bloco-um h1{
    
        font-size: max(22px, 2.5vw);
        text-align: center;       
    
    }
    .bloco-um p{
    
        font-size: max(14px, 1.0vw);
        text-align: justify;
    
    }
    .bloco-tres{
        
        margin-right: 3%;
        width: 100%;
    
    }
    .bloco-tres h2{
    
        font-size: max(22px, 2.5vw);
        text-align: center;       
    
    }
    .bloco-tres p{
    
        font-size: max(14px, 1.0vw);
        text-align: justify;
        margin: 4%;
    
    }
    span{
        
        display: flex;
        font-size: max(14px, 1.0vw);
        justify-content: center;
    
    }
    .box-center h2{

        font-size: max(22px, 2.5vw);
    
    }
    .alinhamento{

        font-size: max(14px, 1.0vw);
        text-align: justify;
        margin: 0% 4%;

    }
    .box-center p{
    
        font-size: max(14px, 1.0vw);
    
    }
    .block{ 

        width: 200px;
        height: 200px;
        margin: 2%;

    }
    .bloco-seis{

        margin: 5%;
        width: 100%;

    }
    .bloco-seis h2{
    
        font-size: max(22px, 2.5vw);

    }
    .bloco-seis li{
    
        font-size: max(14px, 1.0vw);

    }
    .bloco-seis h3{

        font-size: max(15px, 1.0vw);
    
    }
    .bloco-sete{
        
        width: 100%;
    
    }
    .bloco-sete h2{
    
        font-size: max(22px, 2.5vw);
        text-align: center;
    
    }
    .bloco-sete p{
    
        font-size: max(14px, 1.0vw);
        text-align: justify;
    
    }
    .bloco-oito{
    
        align-items: center;
    
    }
    .bloco-oito label{
        
        text-align: center;
    
    }
    .bloco-oito button{

        height: 35px;
        width: 80px;

    }
    .bloco-nove h4{
    
        font-size: max(18px, 2.5vw);
    
    }
    .bloco-nove p{
    
        font-size: max(12px, 1.0vw);
        text-align: justify;
    
    }
    .bloco-nove button{

        width: 120px;
    
    }
    .bloco-nove button{
    
        font-size: max(12px, 1vw);
    
    }
    .bloco-dez li{
    
        font-size: max(12px, 1.0vw);
        text-align: justify;
    
    }
    .tamanho-img-endereço{
    
        display: none;
    
    }
    .bloco-onze h4{
    
        font-size: max(18px, 2.5vw);
 
    }
    
}